<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
  Thanks for visiting this site. Originally from the Bay Area, I've spent the most recent 
      10+ years managing data analytics teams and scaling data operations for self-serveabilty at 
      tech companies in every stage of growth. 
      Prior to that, I was a finance professional performing a wide range of functions ranging 
      from public accounting (10K, 10Q) to auditing, and FP&A.
</p><p>
In my time as a finance professional I noticed the evolution of data in its complexity 
      and scale but more importantly, it's relevance in board rooms and guiding strategy. This prompted
      my masters study at UC Berkeley where my thesis was developing a fall-detection app utilizing
      AI on data extracted from accelerometers which won an award. I major in bridging the gap between 
      the technical aspect of data and its strategic business relevance.
</p><p>
      <h3 class="mb2">Academic Work</h3>
<p>My work is referenced in the following publications:<br><br>
1. Bloc by Bloc: <i> How to Build a Global Enterprise for the New Regional Order</i>, Harvard University Press <br><br>
2. Business and Politics: <i>Data, development, and growth</i> , Volume 19 , Issue 3 , Cambridge University Press<br><br>
  
</p>
    
      For more information, check out 
      <a href="{{ site.nav.main.blog }}">my blog</a>, 
      <a href="{{ site.nav.main.travel }}">travel blog</a>, and
      <a href="{{ site.nav.main.projects }}">projects</a>.
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
