<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Thanks for visiting this site. Originally from the Bay Area, I've spent the most recent 10+ years managing data analytics and operational teams at various tech companies. Prior to that, I was a finance professional for over 15 years performing SEC reporting, auditing, and FP&A.
</p><p>In my time as a finance professional, over time, I noticed the evolution of data in its complexity and scale but more importantly, it's relevance in board rooms and guiding strategy. I went back to the School of Information at UC Berkeley to study big data, machine learning, app development, data analytics and other related skills to bridge the gap between the technical aspect of data and its strategic business relevance.
 For more info, check 
      out 
      <a href="{{ site.nav.main.writing }}">writing</a>, 
      <a href="{{ site.nav.main.speaking }}">speaking</a>,
      <a href="{{ site.nav.main.projects }}">projects</a>, and 
      <a href="{{ site.nav.main.photos }}">photos</a>.
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
