<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Thanks for visiting this site. I'm just a data chic that loves working with data. Despite the age of massive proliferation in data, AI and other technologies, I found it hard to find data delivered to me in a way I can interact with it and get more detailed information. This site is my hypothesis that I'm not the only one and wanted to post blogs that service data in a way people can interact with, be informed and entertained. 
  
</p><p>As a professional, I noticed the evolution of data in its complexity and scale but more importantly, it's relevance in board rooms and guiding strategy. I went back to the School of Information at UC Berkeley to study big data, machine learning, app development, data analytics and other related skills to bridge the gap between the technical aspect of data and its strategic relevance.
 For more info, check 
      out 
      <a href="{{ site.nav.main.blog }}">writing</a>, 
      <a href="{{ site.nav.main.travel }}">travel blog</a>, and
      <a href="{{ site.nav.main.projects }}">projects</a>.
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
